# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files

resume*/*.aux
resume*/*.synctex.gz
resume*/*.out
resume*/*.log
