@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);

/* Colours
Light Orange - FFFBD0
Intense Orange - FF9900
Brown - CC6600 */

* {
    box-sizing: border-box; /* Make it easier to specify widths */
}

body {
    font-family: 'Open Sans', sans-serif;
    background: white;
    padding: 0;
    margin: 0;
    margin-bottom: 2em;
}

h1,h2,h3,h4,h5,h6,h7,a,pre {
    font-weight: 300;
}

h1,h2,h3,h4,h5,h6,h7 {
    padding-top: 0;
    margin-top: 0;
}

a {
    text-decoration: none;
    color: #FF9900;
}

#header {
    position: fixed;
    
    top: 0;
    left: 0;
    width: 100%;
    height: 4em;
    
    padding: 0.5em;
    margin: 0;
    
    line-height: 3em;
    vertical-align: middle;
    
    background: #FFFBD0;
}

#header * {
    display: inline;
}

#header .right {
    text-align: right;
    float:right;
}

#toc {
    position: fixed;
    right: 0;
    top: 4em;
    
    width: 40em;
    max-width: 100%;
    
    background: #FFFBD0;
    
    display: none;
    padding: 1em;
}

[role=main] {
    margin: 5em auto 0 auto;
    width: 100%;
    max-width: 50em;
}






